* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* START HEADER */
header {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 2;
}

header .navbar-brand i {
    color: #35a22c;
}

a.navbar-brand {
    color: white;
    font-size: 2rem;
}

.navbar-expand-lg .navbar-nav .nav-link {
    color: white;
    transition: 0.5s;
    margin: 0 15px;
    position: relative;
    overflow: hidden;
}

.navbar-nav .active > .nav-link {
    color: #35a22c;
}


.navbar-expand-lg .navbar-nav .nav-link:hover {
    color: #35a22c;
}

.navbar-expand-lg .navbar-nav .nav-link::before {
    content: "haha";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: #35a22c;
    transform: translateX(-100px);
    transition: 1s;
}

.navbar-nav .active > .nav-link::before {
    transform: translateX(0px);
}

.navbar-expand-lg .navbar-nav .nav-link:hover::before {
    transform: translateX(0px);
}
/* END HEADER */

/* START CAROUSEL */
.carousel-item {
    height: 100vh;
}

.carousel-item img {
    height: 100%;
}

.carousel-caption .user-carousel {
    height: 150px;
    width: 150px;
    border-radius: 50%;
}

.carousel-caption {
    bottom: 50%;
    transform: translateY(50%);
}

.carousel-indicators li {
    width: 15px;
    height: 15px;
    border-radius: 50%;
}

.carousel-indicators .active {
    background-color: #35a22c;
}

.carousel-item::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0,0.4);
}
/* END CAROUSEL */

/* START PROJECT */
.project .nav {
    justify-content: center;
}

.project .nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    background: #35a22c;
    color: white;
    border: none;
}

.project .nav-pills .nav-link {
    border: 1px solid black;
    color: black;
    margin: 0 10px;
}

.item__project {
    height: 500px;
    padding: 15px;
}

.container__item {
    width: 100%;
    height: 100%;
    background: white;
    border-radius: 15px;
    text-align: center;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    overflow: hidden;
    cursor: pointer;
    transition: 1s;
}

.container__item img {
    width: 100%;
    height: 70%;
    object-fit: cover;
    /* margin-bottom: 15px; */
}

.title__item h2 {
    font-size: 20px;
    font-weight: 400;
    transition: 1s;
}

.title__item {
    height: 30%;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    transition: 1s;
}

.container__item:hover .title__item {
    border: 1px solid #35a22c;
    border-top: none;
}

.container__item:hover .title__item h2 {
    color: #35a22c;
}
/* END PRJECT */

/* START FEATURES */
.features {
    width: 100%;
    height: 600px;
    background-image: url(../portfolio/image-20220401T034203Z-001/image/3.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: relative;
}

.features::before {
    position: absolute;
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0,0.5);
}

.features__title {
    color: white;
    text-align: center;
    position: relative;
    z-index: 2;
}

.container__features {
    padding: 50px 30px;
}

.features__title h2 {
    font-size: 40px;
    font-weight: bold;
}

.features__title p {
    font-size: 16px;
}

.features__list__item {
    height: 400px;
    padding: 30px 15px;
}

.features__item {
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255,0.1);
    border-radius: 15px;
    backdrop-filter: blur(3px);
}