.container {
    width: 100%;
    height: 300px;
    background-color: black;
}

.footer {
    width: 100%;
    height: 300px;
    background: blue;
}

/* dùng max-width thì reponsive từ màn hình lớn đến màn hình bé */
/* màn hình tablet */
@media screen and (max-width: 992px) {
    .container {
        background: red;
    }

    .footer {
        height: 200px;
        background: orange;
    }
}

/* màn hình mobile */
@media screen and (max-width: 768px) {
    .container {
        background: violet;
    }

    .footer {
        height: 100px;
        background: pink;
    }
}


/* dùng min-width thì reponsive từ màn hình bé đến màn hình lớn	 */